
*{

box-sizing: border-box;


}



.container2{
display: flex;
justify-content: center;
margin-top: 40px;

}

.childcontainer2{

    width: 60vh;
    text-align: center;
    padding-bottom: 2em;
background: #c89f9f;



}
.h11{
    /* display:inline; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
background: #6c56fd;
height: 70px;
width: 40vh;
border-radius: 5px 40px ;

}
.li{
    display: flex;
    list-style: none;
background: #ffffff;
margin: 10px;
padding: 10px;
justify-content: space-between;
border-radius: 5px;
}



#addbutton{
background: #857575;
border-radius: 6px;
border: 2px solid rgb(0, 0, 0);
height: 35px;
}
#addbutton:hover{
background: #5f958d;

}


.ans{
font-weight: bold;
    display: flex;
justify-content: space-between;
background: #6d5858;
margin-top: 10px;
margin-right: 20px;
/* padding-left: 5px; */
color: white;
padding: 10px;
}
/* .trash{

    color: rgb(255, 255, 255);
} */

#trash{

    color: rgb(255, 255, 255);
}


